name: covidcheck
description: A new Flutter project.

publish_to: 'none'


environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^0.1.3
  http: ^0.12.1
  gradient_app_bar: ^0.1.3
  font_awesome_flutter: ^8.8.1
  flutter_spinkit: ^4.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:

  uses-material-design: true

  fonts:
     - family: Comfortaa
       fonts:
         - asset: fonts/Comfortaa-Regular.ttf